@model InzV3.Controllers.EditUserViewModel
@{
    ViewBag.Title = "EditUser";
}

<div class="mt-4">
    <h2>Edytuj użytkownika</h2>
    <hr />
    <div class="row">
        <div class="card shadow-sm p-4 mt-3">
            @using (Html.BeginForm("EditUser", "Admin", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                <div class="mb-3">
                    <label class="form-label text-muted">Użytkownik</label>
                    <input type="text" class="form-control" value="@Model.FirstName @Model.LastName" disabled />
                </div>

                <div class="mb-3">
                    <label class="form-label fw-bold">Rola</label>
                    @Html.DropDownListFor(m => m.Role, (ViewBag.AllRoles as SelectList), "Wybierz rolę", new { @class = "form-select", id = "roleSelect" })
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">Stanowisko</label>
                    @Html.DropDownListFor(m => m.SubRoleId, new SelectList(Enumerable.Empty<SelectListItem>()), "Wybierz rolę główną!", new { @class = "form-select", id = "subRoleSelect" })
                </div>
                <div class="mt-4 pt-2 border-top">
                    <button type="submit" class="btn btn-success">Zapisz zmiany</button>
                    @Html.ActionLink("Anuluj", "Users", "Admin", null, new { @class = "btn btn-secondary ms-2" })
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    <script>
       $(document).ready(function () {
           $('#roleSelect').change(function () {
               var selectedRole = $(this).val();
               var subRoleSelect = $('#subRoleSelect');
               subRoleSelect.empty();

               if (selectedRole != null && selectedRole != '') {
                   $.getJSON('@Url.Action("GetSubRolesByRole","Admin")', { roleName: selectedRole }, function (subRoles) {
                       if (subRoles != null && !jQuery.isEmptyObject(subRoles)) {
                           subRoleSelect.append($('<option/>', {
                               value: '',
                               text: 'Wybierz podrolę'
                           }));
                           var currentSubRoleId = '@Model.SubRoleId'; 
                           $.each(subRoles, function (index, subRole) {
                               var isSelected = (subRole.value == currentSubRoleId) ? true : flase;
                               subRoleSelect.append($('<option/>', {
                                   value: subRole.value,
                                   text: subRole.text,
                                   selected: isSelected
                               })).show();
                           });
                       }
                       else {
                           subRoleSelect.append($('<option/>', {
                               value: '',
                               text: 'Brak podroli dla tej roli'
                           }));
                       }
                   });
               }
               else {
                   subRoleSelect.append($('<option/>', {
                       value: '',
                       text: 'Wybierz rolę główną!'
                   }))
               }
           });
           if ($('#roleSelect').val()) {
               $('#roleSelect').trigger('change');
           }
       });
    </script>
}