@model IEnumerable<InzV3.Models.SubRoleModel>
@{
    ViewBag.Title = "Zarządzanie rolami";
}

<div class="mt-4">
    <h2>Role w systemie</h2>
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">@TempData["Error"]</div>
    }
    <p class="mt-3">
        @Html.ActionLink("Dodaj nową podrolę", "Create", null, new { @class = "btn btn-success" })
        @Html.ActionLink("Wróć", "Index", "Admin", null, new { @class = "btn btn-secondary ms-2" })
    </p>
    <table class="table table-striped mt-3 align-middle">
        <thead class="table-dark">
            <tr>
                <th>Nadrzędna rola</th>
                <th>Nazwa podroli</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subRole in Model)
            {
                <tr>
                    <td class="fw-bold">
                        <span class="badge bg-primary">@subRole.ParentRoleName</span>
                    </td>
                    <td>@subRole.Name</td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" onclick="openDeleteModal('@subRole.Id', '@subRole.Name')">
                            Usuń
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal fade text-start" id="globalDeleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Potwierdzenie usunięcia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Czy na pewno chcesz usunąć podrolę:<strong id="deleteCategoryName"></strong>?<br />
                <span class="text-muted" style="font-size:0.9em;">(Ta operacja jest nieodwracalna)</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                @using (Html.BeginForm("Delete", "Roles", new { id = 0 }, FormMethod.Post, new { style = "margin: 0;" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" id="deleteSubRoleId" />
                    <button type="submit" class="btn btn-danger">Tak, usuń</button>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        function openDeleteModal(subRoleId, subRoleName) {
            document.getElementById('deleteSubRoleName').textContent = subRoleName;
            document.getElementById('deleteSubRoleId').value = subRoleId;


            var deleteModal = new bootstrap.Modal(document.getElementById('globalDeleteModal'));
            deleteModal.show();
        }
    </script>
}

