@model InzV3.Models.IndexViewModel
@{
    ViewBag.Title = "Zarządzaj";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Zmień ustawienia konta</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Hasło:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Zmień hasło", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Utwórz", "SetPassword")
                }
                ]
            </dd>
            <dt>Logowania zewnętrzne:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>
        </dl>
    </div>
</main>