@model InzV3.Models.ApplicationUser
@{
    ViewBag.Title = "Strona główna";
    var devices = ViewBag.UserDevices as List<InzV3.Models.DeviceModel>;
}

<div class="container mt-4">
    <h2>Witaj, @Model.FirstName!</h2>
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Twoje dane</h5>
            <p class="card-text">
                <strong>Imię i Nazwisko:</strong> @Model.FirstName @Model.LastName <br />
                <strong>E-mail:</strong> @Model.Email <br />
                <strong>Podrola:</strong> @(Model.SubRole ?? "Brak")
            </p>
        </div>
    </div>

    <div class="row">
        @* Moje urzadzenia *@
        <div class="col-md-6">
            <div class="card border-primary h-100 shadow-sm" style="cursor:pointer; transition:0.3s;" onclick="location.href='@Url.Action("MyDevices","Home")'" onmouseover="this.classList.add('bg-light')" onmouseout="this.classList.remove('bh-light')">
                <div class="card-body text-center d-flex flex-column justify-content-center py-4">
                    <h3 class="card-title text-primary fw-bold mb-2"><i class="bi bi-laptop"></i> Moje urządzenia</h3>
                </div>
            </div>
        </div>

        @* Sekcja Zgłoszenia *@
        <div class="col-md-6">
            <div class="card border-primary h-100 shadow-sm" style="cursor:pointer; transition:0.3s;" onclick="location.href='@Url.Action("MyTickets","Tickets")'" onmouseover="this.classList.add('bg-light')" onmouseout="this.classList.remove('bh-light')">
                <div class="card-body text-center d-flex flex-column justify-content-center py-4">
                    <h3 class="card-title text-primary fw-bold mb-2"><i class="bi bi-ticket-detailed"></i>Moje zgłoszenia</h3>
                </div>
            </div>
        </div>
    </div>
</div>